<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ProyectoMagicolor.Properties.Settings.dbMagicolorConnectionString"
            connectionString="Data Source=DESKTOP-2185U8G\SQLEXPRESS;Initial Catalog=dbMagicolor;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>